body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: #4a4a4f;
 }

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

nav a:hover {
    background-color: #ffffff;
    color: #4a4a4f;
}

.card {
    float: left;
    width: 25.33%;
    margin: 0 4%;
    min-height: 355px;
}

.card a {
    text-align: center;
}

img {
    width: 100%;
}

h1 {
   text-align: center; 
}